.backers {
    background-color: white;
    box-shadow: inset 0 0 3px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
.navbar-brand {
    padding: 5px 5px 5px 5px;
}

.header-social-links a {
    font-size: 15px;
    float: right;
    color: #fff;
    margin: -4px 5px 0;
}
.header-social-links a:hover {
    color: #da223a;
}

.navbar-nav>li>a {
    padding-left: 5px;
    padding-right: 6px;
}
@media (min-width: 1120px) {
    .navbar-nav>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-container {
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
}

.navbar-static-top.navbar {
    margin-bottom: 0;
}
