<!-- Downloads Section -->
    <section id="downloads">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Downloads</h2>
                    <h3 class="section-subheading text-muted">If you've tried our demo and want to get LibreNMS running locally then you have two options.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>The standard way of installing LibreNMS is to clone the GitHub repo directly, to do this you can following the install instructions:</p>
                    <p>Debian / Ubuntu: <a href="http://docs.librenms.org/Installation/Installation-(Debian-Ubuntu)/">Install guides</a><br />
                    CentOS / Red Hat: <a href="http://docs.librenms.org/Installation/Installation-(RHEL-CentOS)/">Install guides</a><br /></p>
                    <p>If however, you don't have a spare VM or box to install onto then we have got some virtual images for you to download, boot and use straight away. The images will be update regularly (approximately every 3 months), however LibreNMS itself will auto update within 24 hours of you booting the image unless you disable this feature.<br /></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p><a href="http://docs.librenms.org/Installation/Ubuntu-image/">Ubuntu 16.04 LTS</a><br />
                    <p><a href="http://docs.librenms.org/Installation/CentOS-image/">CentOS 7</a><br />
                </div>
            </div>
        </div>
    </section>
