<!-- Downloads Section -->
    <section id="downloads">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Downloads</h2>
                    <h3 class="section-subheading text-muted">If you've tried our demo and want to get LibreNMS running locally then you have two options.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>The standard way of installing LibreNMS is to clone the GitHub repo directly, to do this you can following the install instructions:</p>
                    <p>Debian / Ubuntu: <a href="http://docs.librenms.org/Installation/Installation-(Debian-Ubuntu)/">Install guides</a><br />
                    CentOS / Red Hat: <a href="http://docs.librenms.org/Installation/Installation-(RHEL-CentOS)/">Install guides</a><br /></p>
                    <p>If however, you don't have a spare VM or box to install onto then we have got some virtual images for you to download, boot and use straight away. The images will be update regularly (approximately every 3 months), however LibreNMS itself will auto update within 24 hours of you booting the image unless you disable this feature.<br /></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="alert alert-warning">
                        The image has been built on VirtualBox 4.3. The VMDK has been taken directly and the OVA file has been exported 
                        as an appliance from within VirtualBox using version OVF 1.0 format. You should be able to import this into VMWare 
                        Fusion, Workstation or Player (<a href="http://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=2053864">
                        according to these docs</a>). We also have a version for ESXi now (VMWare image).
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p><h3>Ubuntu Image</h3><br />
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="alert alert-success">
                                The default user for all of these images are<br />
                                SSH:<br />
                                username: ubuntu<br />
                                password: ubuntu<br />
                                WebUI:<br />
                                username: librenms<br />
                                password: librenms<br />
                            </div>
                        </div>
                    </div>
                    <strong>VirtualBox Appliance</strong><br />
                    <p><a href="http://lathwood.uk/ubuntu-librenms.tgz">Ubuntu 14.04.1 LTS tarball (1.2G)</a><br />
                    md5sum: fbbc266a96899b1c1d94ce67b7c72d2d<br />
                    sha256sum: 514c4b456e29d604786ab404f1814209206a42fee9973320551926086ee5a9e0<br />
                    <p><a href="http://lathwood.uk/ubuntu-librenms.zip">Ubuntu 14.04.1 LTS zip (1.2G)</a><br />
                    md5sum: 0c974d2085f94ee86bf26205f4764dfc<br />
                    sha2556sum: d26e3b6a2c30574ddaab7414bcc221b356ce3f5b9feebd603133c9977a807a8d<br />
                    <strong>VMWare image</strong><br />
                    <p><a href="http://lathwood.uk/ubuntu-librenms.ova">Ubuntu 14.04.1 LTS ova (1.3G)</a><br />
                    md5sum: 387731e0d8ca8d49b7e068828245a0b9<br />
                    sha256sum: a82280900952b49f51eb1eaf9c98a2d9c259c4eab8418bf45517b2709b13b05e</p>
                    <strong>VMDK image</strong><br />
                    <p><a href="http://lathwood.uk/ubuntu-librenms.vmdk">Ubuntu 14.04.1 LTS vmdk (3.1G)</a><br />
                    md5sum: d5f6bd94c89d220675b11dd2ab2e5249<br />
                    sha256sum: 3585ff21d1a74f8963eddd21a7080b94efe5e5c08f66ec69ab7cc05d303de966<br />
                    <div class="alert alert-warning">MySQL login details are already set and can be found in config.php. The password for the root username is the same as for the LibreNMS MySQL password. We highly advise that you change this asap.<br /></div>
                </div>
            </div>
        </div>
    </section>
