<!-- Downloads Section -->
    <section id="downloads">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Downloads</h2>
                    <h3 class="section-subheading-text-muted">Ready to Install LibreNMS for your Network?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="service-heading">LibreNMS Documentation</h4>
                    <ul>
                        <li><a href="https://docs.librenms.org/">LibreNMS Docs</a></li>
                        <li><a href="https://docs.librenms.org/Installation/">LibreNMS Installation Guides</a></li>
                        <li><a href="https://github.com/librenms/librenms">GitHub LibreNMS</a></li>
                    </ul>
                    <h4 class="service-heading">Centos / Ubuntu</h4>

                    <ul>
                        <li>Support for both Apache and Nginx Web Servers</li>
                        <li><a href="https://docs.librenms.org/Installation/">Installation Guide</a></li>
                    </ul>
                    <h4 class="service-heading">Docker Images</h4>
                    <ul>
                        <li>Docker image documentation located on: <a href="https://github.com/librenms/docker">GitHub LibreNMS/Docker</a></li>
                        <li>LibreNMS on: <a href="https://hub.docker.com/r/librenms/librenms/">dockerhub</a></li>
                        <li>LibreNMS on: <a href="https://quay.io/repository/librenms/librenms">QUAY</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
