<!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Automatic discovery</h4>
                    <p class="text-muted">Automatically discover your entire network using CDP, FDP, LLDP, OSPF, BGP, SNMP and ARP.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Customisable alerting</h4>
                    <p class="text-muted">Highly flexible alerting system, notify via email, irc, slack and more.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">API Access</h4>
                    <p class="text-muted">A full API to manage, graph and retrieve data from your install.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Billing system</h4>
                    <p class="text-muted">Generate bandwidth bills for ports on your network based on usage or transfer.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud-download fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Automatic Updates</h4>
                    <p class="text-muted">Stay upto date automatically with bug fixes, new features and more.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plug fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Plugin system</h4>
                    <p class="text-muted">Plugin system that enables you to extend your install for your needs.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Distributed Polling</h4>
                    <p class="text-muted">Horizontal scaling to grow with your network.</p>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <p class="text-muted">More....</p>
                    <ul>
                        <li>Extensive device support</li>
                        <li>Mobile friendly Web UI</li>
                        <li>Unix Agent</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="text-muted">Integration support for:</p>
                    <ul>
                        <li><a href="http://nfsen.sourceforge.net/" target="_blank">NfSen</a></li>
                        <li><a href="https://collectd.org/" target="_blank">collectd</a></li>
                        <li><a href="http://oss.oetiker.ch/smokeping/" target="_blank">SmokePing</a></li>
                        <li><a href="http://www.shrubbery.net/rancid/" target="_blank">RANCID</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="text-muted">Multiple authentication methods:</p>
                    <ul>
                        <li>MySQL</li>
                        <li>HTTP</li>
                        <li>LDAP</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
