<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="LibreNMS">
    <meta name="description" content="LibreNMS : a Free Software Network Management System" />

    <title>LibreNMS</title>

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/carousel.css">

    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

  </head>

  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">LibreNMS</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/faq.html">Faqs</a></li>
                <li><a href="https://github.com/librenms/librenms/">View on GitHub</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container marketing">
