<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="LibreNMS">
    <meta name="description" content="LibreNMS : a Free Software Network Management System" />

    <title>LibreNMS</title>

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/carousel.css">

    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

  </head>

  <body>
<script type="text/javascript">
  $.getJSON('https://api.github.com/repos/librenms/librenms/pulls?callback=?', function(data) {
    var repo_open = data['data']['length'];
    $("#pulls").html(repo_open + ' open pulls');
  });
</script>
<script type="text/javascript">
  $.getJSON('https://api.github.com/repos/librenms/librenms/issues?callback=?', function(data) {
    var issues_open = data['data']['length'];
    $("#issues").html(issues_open + ' open issues');
  });
</script>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LibreNMS</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/faq.html">Faqs</a></li>
            <li><a href="http://blog.librenms.org/">Blog</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="https://twitter.com/librenms">Twitter</a></li>
                <li><a href="https://groups.google.com/forum/#!forum/librenms-project">Mailing list</a></li>
              </ul>
            </li>
            <li><a href="https://github.com/librenms/librenms/">View on GitHub</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><button class="btn btn-info btn-xs" href="https://github.com/librenms/librenms/issues" role="button" id="issues"></button></li>
            <li><button class="btn btn-info btn-xs" href="https://github.com/librenms/librenms/pulls" role="button" id="pulls"></button></li>
            <li><a href="https://twitter.com/share" data-via="librenms" class="twitter-share-button" >Tweet&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
