 <!-- jQuery Version 1.12.4 -->
 <script src="/js/jquery-1.12.4.min.js"></script>

 <!-- Bootstrap Core JavaScript -->
 <script src="/js/bootstrap.min.js"></script>

 <!-- Plugin JavaScript -->
 <script src="/js/jquery.easing.min.js"></script>
 <script src="/js/classie.js"></script>
 <script src="/js/cbpAnimatedHeader.js"></script>

 <!-- Contact Form JavaScript -->
 <script src="/js/jqBootstrapValidation.js"></script>

 <!-- Custom Theme JavaScript -->
 <script src="/js/agency.js"></script>
 <script src="/js/jquery.prettyPhoto.js"></script>

 <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("a[rel^='prettyPhoto']").prettyPhoto({theme: 'dark_rounded'});

        // populate sponsors and backers
        $.get('https://opencollective.com/librenms/sponsors.json', function (data) {
            var sponsors = $('#sponsors');
            data.forEach(function (sponsor) {
                var link = '#';
                if (sponsor.website) {
                    link = sponsor.website;
                } else if (sponsor.twitterHandle) {
                    link = 'https://twitter.com/' + sponsor.twitterHandle;
                }

                var el = '<div class="sponsor"><a href="' + link + '">';
                el += '<img class="img-circle" alt="' + sponsor.name + '" src="' + sponsor.avatar + '">';
                el += '</a>';
                el += '<p>$' + (sponsor.totalDonations / 100) + '</p>';
                el += '</div>';

                sponsors.append(el);
            });
        });
        $.get('https://opencollective.com/librenms/backers.json', function (data) {
            var backers = $('#backers');
            data.forEach(function (backer) {
                var link = '#';
                if (backer.twitterHandle) {
                    link = 'https://twitter.com/' + backer.twitterHandle;
                }

                var el = '<div class="backer"><a href="' + link + '">';
                el += '<img class="img-circle" alt="' + backer.name + '" src="' + backer.avatar + '">';
                el += '</a>';
                el += '</div>';

                backers.append(el);
            });
        });
    });
</script>
