<li class="hidden">
    <a href="#page-top"></a>
</li>
<li>
    <a class="page-scroll" href="/#features">Features</a>
</li>
<li>
    <a class="page-scroll" href="/#try">Try</a>
</li>
<li>
    <a class="page-scroll" href="/#downloads">Downloads</a>
</li>
<li>
    <a class="page-scroll" href="/#screenshots">Screenshots</a>
</li>
<li>
    <a class="page-scroll" href="/#support">Support</a>
</li>
<li>
    <a class="page-scroll" href="/#thanks">Thanks</a>
</li>
<li>
    <a href="/shop">Shop</a>
</li>
<li>
    <a href="http://docs.librenms.org">Docs</a>
</li>
