<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-black">
    <div class="navbar-container container-fluid">
        {% include brand.html %}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% include menu.html %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
