<!-- Try Section -->
    <section id="screenshots" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="img/screenshot/screenshot_device_list.png" rel="prettyPhoto[pp_gal]" title="Device list"><img src="img/screenshots/screenshot_device_list.png" width="150" alt="Device list" /></a>
                    <a href="img/screenshot/screenshot_add_device.png" rel="prettyPhoto[pp_gal]" title="Add Device"><img src="img/screenshots/screenshot_add_device.png" width="150" alt="Add Device" /></a>
                    <a href="img/screenshot/screenshot_port_bits.png" rel="prettyPhoto[pp_gal]" title="Traffic"><img src="img/screenshots/screenshot_port_bits.png" width="150" alt="Traffic" /></a>
                    <a href="img/screenshot/screenshot_disk_usage.png" rel="prettyPhoto[pp_gal]" title="Disk Usage"><img src="img/screenshots/screenshot_disk_usage.png" width="150" alt="Disk Usage" /></a>
                    <a href="img/screenshot/screenshot_api_token.png" rel="prettyPhoto[pp_gal]" title="API Token"><img src="img/screenshots/screenshot_api_token.png" width="150" alt="API Token" /></a>
                    <a href="img/screenshot/screenshot_distributed_pollers.png" rel="prettyPhoto[pp_gal]" title="Distributed Pollers"><img src="img/screenshots/screenshot_distributed_pollers.png" width="150" alt="Distributed Pollers" /></a>
                    <a href="img/screenshot/screenshot_alert_rules.png" rel="prettyPhoto[pp_gal]" title="Alert Rules"><img src="img/screenshots/screenshot_alert_rules.png" width="150" alt="Alert Rules" /></a>
                    <a href="img/screenshot/screenshot_alert_log.png" rel="prettyPhoto[pp_gal]" title="Alert Log"><img src="img/screenshots/screenshot_alert_log.png" width="150" alt="Alert Log" /></a>
                </div>
            </div>
        </div>
    </section>
