<section id="support" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Support</h2>
                    <h3 class="section-subheading text-muted">We have a few ways to get in touch, the most responsive and widely used is our irc channel.</h3>
                </div>
            </div>
            <div class="row text-center">
                <a href="http://webchat.freenode.net/?channels=##librenms" target="_blank">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wechat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IRC - Freenode<br />##librenms</h4>
                </div>
                </a>
                <div class="col-md-4">
                    <a href="https://groups.google.com/forum/#!forum/librenms-project" target="_blank">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-google fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Google Groups</h4>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://github.com/librenms/librenms/issues" target="_blank">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">GitHub Issues</h4>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <a href="https://twitter.com/librenms" target="_blank">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Twitter @librenms</h4>
                </div>
                </a>
                <div class="col-md-4">
                    <a href="http://docs.librenms.org" target="_blank">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Online Docs</h4>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://docs.librenms.org/Support/FAQ" target="_blank">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">FAQs</h4>
                    </a>
                </div>
            </div>
        </div>
    </section>
