<!-- Thanks Section -->
<section id="thanks" class="bg-darkest-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-muted">
                <h2 class="section-heading">Thanks!</h2>
                <p>Thanks to everyone that supports LibreNMS.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center text-muted">
                <h3>Hosting Support</h3>
                <h4 class="service-heading"><a href="http://www.katapult.io" target=_"blank"><img src="images/Katapult_Logo_White.svg" width="156" height="33" border="0"><br/><br/> Katapult </a></h4>
                <p class="text-muted">Krystal is proud to help support LibreNMS with the Cloud services through our <a href="https://katapult.io">Katapult</a> platform. With over 33,000 happy customers, Krystal provides a range of services from web hosting through dedicated servers to public cloud and more. With a 4.9/5 score on <a href="https://uk.trustpilot.com/review/krystal.uk">Trustpilot</a>, you're in safe hands when it comes to choosing a trusted partner to help you with your digital needs.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center text-muted">
                <div>This is a donation. No goods or services are expected in return. Any requests for refunds for those purposes will be rejected.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center text-muted">
                <h3>Sponsors</h3>
                <p>Does your company use LibreNMS? Support its development <a href="https://opencollective.com/librenms#sponsor">[Become a Sponsor]</a></p>
                <div id="sponsors" class="backers">
                </div>

            </div>
            <div class="col-lg-6 text-center text-muted">
                <h3>Backers</h3>
                <p>Want to give back to the community? <a href="https://opencollective.com/librenms#backer">[Become a Backer]</a></p>

                <div id="backers" class="backers">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center text-muted">
                <h3>Special Mentions</h3>
                <h4 class="service-heading"><a href="http://www.wavedirect.net" target=_"blank"><img src="images/wavedirect.png" width="209" height="50" border="0"><br/> Wavedirect Telecommunications</a></h4>
                <p class="text-muted">Wavedirect Telecommunications has been an Internet Service Provider since 2004 in the South Western region of Ontario and now Texas.  We specialize in providing Internet to both urban and rural areas using wireless and cabled technology.  We monitor and graph thousands of our customer and corporate devices through several programs.  We found LibreNMS to be an excellent product to use with a friendly and supportive team .  We helped the LibreNMS team develop support for our wireless devices and created a mobile app (IOS and Android) to help us monitor our network.  We plan on supporting and working with the highly professional and skilled developers on the LibreNMS team for years to come.</p>
            </div>
        </div>
    </div>
</section>
