<!-- Thanks Section -->
<section id="thanks" class="bg-darkest-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-muted">
                <h2 class="section-heading">Thanks!</h2>
                <p>Thanks to everyone that supports LibreNMS.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center text-muted">
                <h3>Sponsors</h3>
                <p>Does your company use LibreNMS? Support its development <a href="https://opencollective.com/librenms#sponsor">[Become a Sponsor]</a></p>
                <div id="sponsors" class="backers">
                    <a href="https://opencollective.com/librenms/sponsors/0/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/0/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/1/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/1/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/2/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/2/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/3/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/3/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/4/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/4/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/5/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/5/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/6/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/6/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/7/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/7/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/8/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/8/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/9/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/9/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/10/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/10/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/11/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/11/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/12/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/12/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/13/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/13/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/14/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/14/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/15/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/15/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/16/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/16/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/17/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/17/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/18/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/18/avatar"></a>
                    <a href="https://opencollective.com/librenms/sponsors/19/website" target="_blank"><img src="https://opencollective.com/librenms/sponsors/19/avatar"></a>
                </div>

            </div>
            <div class="col-lg-6 text-center text-muted">
                <h3>Backers</h3>
                <p>Want to give back to the community? <a href="https://opencollective.com/librenms#backer">[Become a Backer]</a></p>

                <div id="backers" class="backers">
                    <a href="https://opencollective.com/librenms/backers/0/website" target="_blank"><img src="https://opencollective.com/librenms/backers/0/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/1/website" target="_blank"><img src="https://opencollective.com/librenms/backers/1/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/2/website" target="_blank"><img src="https://opencollective.com/librenms/backers/2/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/3/website" target="_blank"><img src="https://opencollective.com/librenms/backers/3/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/4/website" target="_blank"><img src="https://opencollective.com/librenms/backers/4/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/5/website" target="_blank"><img src="https://opencollective.com/librenms/backers/5/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/6/website" target="_blank"><img src="https://opencollective.com/librenms/backers/6/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/7/website" target="_blank"><img src="https://opencollective.com/librenms/backers/7/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/8/website" target="_blank"><img src="https://opencollective.com/librenms/backers/8/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/9/website" target="_blank"><img src="https://opencollective.com/librenms/backers/9/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/10/website" target="_blank"><img src="https://opencollective.com/librenms/backers/10/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/11/website" target="_blank"><img src="https://opencollective.com/librenms/backers/11/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/12/website" target="_blank"><img src="https://opencollective.com/librenms/backers/12/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/13/website" target="_blank"><img src="https://opencollective.com/librenms/backers/13/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/14/website" target="_blank"><img src="https://opencollective.com/librenms/backers/14/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/15/website" target="_blank"><img src="https://opencollective.com/librenms/backers/15/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/16/website" target="_blank"><img src="https://opencollective.com/librenms/backers/16/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/17/website" target="_blank"><img src="https://opencollective.com/librenms/backers/17/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/18/website" target="_blank"><img src="https://opencollective.com/librenms/backers/18/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/19/website" target="_blank"><img src="https://opencollective.com/librenms/backers/19/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/20/website" target="_blank"><img src="https://opencollective.com/librenms/backers/20/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/21/website" target="_blank"><img src="https://opencollective.com/librenms/backers/21/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/22/website" target="_blank"><img src="https://opencollective.com/librenms/backers/22/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/23/website" target="_blank"><img src="https://opencollective.com/librenms/backers/23/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/24/website" target="_blank"><img src="https://opencollective.com/librenms/backers/24/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/25/website" target="_blank"><img src="https://opencollective.com/librenms/backers/25/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/26/website" target="_blank"><img src="https://opencollective.com/librenms/backers/26/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/27/website" target="_blank"><img src="https://opencollective.com/librenms/backers/27/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/28/website" target="_blank"><img src="https://opencollective.com/librenms/backers/28/avatar"></a>
                    <a href="https://opencollective.com/librenms/backers/29/website" target="_blank"><img src="https://opencollective.com/librenms/backers/29/avatar"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center text-muted">
                <h3>Special Mentions</h3>
                <h4 class="service-heading"><a href="http://www.wavedirect.net" target=_"blank"><img src="images/wavedirect.png" width="209" height="50" border="0"><br/> Wavedirect Telecommunications</a></h4>
                <p class="text-muted">Wavedirect Telecommunications has been an Internet Service Provider since 2004 in the South Western region of Ontario and now Texas.  We specialize in providing Internet to both urban and rural areas using wireless and cabled technology.  We monitor and graph thousands of our customer and corporate devices through several programs.  We found LibreNMS to be an excellent product to use with a friendly and supportive team .  We helped the LibreNMS team develop support for our wireless devices and created a mobile app (IOS and Android) to help us monitor our network.  We plan on supporting and working with the highly professional and skilled developers on the LibreNMS team for years to come.</p>
            </div>
        </div>
    </div>
</section>
