<!-- Thanks Section -->
<section id="thanks" class="bg-darkest-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-muted">
                <h2 class="section-heading">Thanks!</h2>
                <p>Thanks to everyone that supports LibreNMS.</p>

                <h3>Sponsors</h3>
                <div id="sponsors"></div>
                <a href="https://opencollective.com/librenms#sponsor">[Become a Sponsor]</a>

                <h3>Backers</h3>
                <div id="backers"></div>
                <a href="https://opencollective.com/librenms#backer">[Become a Backer]</a>
             </div>
         </div>
     </div>
 </section>
