<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top navbar-inverse navbar-black">
    <div class="navbar-container container-fluid">
        {% include brand.html %}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% include menu.html %}
                <li class="dropdown">
                    <a id="locale-selector" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span id="locale-display">EU</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Change Store</li>
                        <li><a href="#" onclick="changeStore('EU')">EU</a></li>
                        <li><a href="#" onclick="changeStore('NA')">NA</a></li>
                    </ul>
                </li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div id="librenms-shop">
</div>

<script>
    const eu_store = 'https://librenms.myspreadshop.net';
    const na_store = 'https://librenms.myspreadshop.com';

    var spread_shop_config = {
        shopName: 'librenms',
//         locale: 'en_EU',
        prefix: localStorage.getItem('store_url'),
        baseId: 'librenms-shop'
    };

    const store_map = {
        'NA': na_store,
        'US': na_store,
        'EU': eu_store,
        'GB': eu_store,
        'AU': na_store,
        'CA': na_store,
        'SE': eu_store,
        'CH': eu_store
    };

    function intializeStore() {
        var parts = getLocale();
        var country = parts[1];
//         spread_shop_config.locale = parts[0] + '_' + country;

        if (! spread_shop_config.prefix) {
            setStore(country);
        }
        document.getElementById('locale-display').innerText = spread_shop_config.prefix === na_store ? 'NA' : 'EU';

        $.getScript(spread_shop_config.prefix + '/shopfiles/shopclient/shopclient.nocache.js');
    }

    function changeStore(country) {
        document.getElementById('locale-display').innerText = country;
        setStore(country)

        location.reload();
    }

    function setStore(country) {
        spread_shop_config.prefix = country in store_map ? store_map[country] : eu_store;
        localStorage.setItem('store_url', spread_shop_config.prefix);
    }

    function getLocale() {
        if (navigator.languages !== undefined)
            return navigator.languages[0].split(/[-_]/, 2);
        return navigator.language.split(/[-_]/, 2);
    }

    // set locale
    intializeStore();

    document.arrive(".sprd-header__image", function () {
        document.unbindArrive(".sprd-header__image"); // don't infinite loop
        const new_element = this.cloneNode(true);
        new_element.href = 'https://librenms.org';
        new_element.style.visibility = 'hidden'; // hide it when on the website
        this.parentNode.replaceChild(new_element, this);
    });
</script>
</body>
</html>
