<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top navbar-inverse navbar-black">
    <div class="navbar-container container-fluid">
        {% include brand.html %}

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% include menu.html %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div id="visit-eu" style="display: none;">
        <a href="https://librenms.myspreadshop.net"><i class="fa fa-exclamation-circle"></i> Want to deliver to Europe?  Checkout out our European shop</a>
        <span class="close-button" title="Don't show this again" onclick="hideEu()">
            <i class="fa fa-times fa-lg"></i>
        </span>
</div>

<div id="librenms-shop">
</div>

<script>
    var spread_shop_config = {
        shopName: 'librenms',
        locale: getLocale(),
        prefix: 'https://librenms.myspreadshop.com',
        baseId: 'librenms-shop'
    };

    if (localStorage.getItem('hide_eu') !== 'hide') {
        document.getElementById('visit-eu').style = 'display: block;'
    }

    function getLocale() {
        if (navigator.languages !== undefined)
            return navigator.languages[0];
        return navigator.language;
    }

    function hideEu() {
        localStorage.setItem('hide_eu', 'hide');
        document.getElementById('visit-eu').style = 'display: none;'
    }

    document.arrive(".sprd-header__image", function () {
        document.unbindArrive(".sprd-header__image"); // don't infinite loop
        const new_element = this.cloneNode(true);
        new_element.href = 'https://librenms.org';
        new_element.style.visibility = 'hidden'; // hide it when on the website
        this.parentNode.replaceChild(new_element, this);
    });
</script>

<script type="text/javascript" src="https://librenms.myspreadshop.com/shopfiles/shopclient/shopclient.nocache.js"></script>

</body>
</html>
