<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div id="librenms-shop">
</div>

<script>
    var spread_shop_config = {
        shopName: 'librenms',
        locale: 'us_US',
        prefix: 'https://librenms.myspreadshop.com',
        baseId: 'librenms-shop'
    };
</script>

<script type="text/javascript" src="https://librenms.myspreadshop.com/shopfiles/shopclient/shopclient.nocache.js"></script>

<script>
    document.arrive(".sprd-header__image", function () {
        document.unbindArrive(".sprd-header__image"); // don't infinite loop
        const new_element = this.cloneNode(true);
        new_element.href = 'https://librenms.org'
        this.parentNode.replaceChild(new_element, this);
    });
</script>
</body>
</html>
